@media (max-width: 1300px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
  /* style */
  .styles-card {
    width: 300px;
    transition: 0.3s all;
  }
  .styles-card .styles-card-img .img-styles {
    height: 450px;
    width: 100%;
  }
  /* portfolio */
  .container-gallery {
    width: 1150px;
    margin: 0 auto;
  }
  .one {
    width: 300px;
    height: 500px;
  }
  .two {
    width: 610px;
  }
  .three {
    width: 550px;
    height: 800px;
  }
  .four {
    width: 150px;
  }
  /* retoch */
  .two-retoch {
    width: 530px;
  }
  .four-retoch {
    width: 350px;
  }
  /* PORTRAIT */
  .two-port {
    width: 250px;
  }
  .main-port-img {
    width: 530px;
    height: 760px;
  }
  .four-port-first {
    width: 900px;
    height: 500px;
  }
  .four-port {
    width: 330px;
  }
  /* poduct */
  .one-prod {
    width: 270px;
  }
  .two-prod {
    width: 520px;
  }
  /* contact */
  .contact-img {
    width: 500px;
    right: 70px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1000px;
    margin: 0 auto;
  }
  /* home */
  .img-home {
    width: 600px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  /* portfolio */
  .container-gallery {
    width: 1100px;
    margin: 0 auto;
  }
  .one {
    width: 270px;
    height: 450px;
  }
  .two {
    width: 560px;
  }
  .three {
    width: 450px;
    height: 680px;
  }
  .four {
    width: 150px;
    height: 170px;
  }
  /* retoch */
  .two-retoch {
    width: 485px;
  }
  .four-retoch {
    width: 320px;
  }
  /* poduct */
  .one-prod {
    width: 260px;
  }
  .two-prod {
    width: 480px;
  }
  /* contact */
  .contact-img {
    width: 470px;
    right: 70px;
  }
}
@media (max-width: 1100px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
  /* home */
  .img-home {
    width: 550px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text-container {
    width: 500px;
    margin-left: 30px;
  }
  /* home */
  /* style */
  .styles-card {
    width: 250px;
    transition: 0.3s all;
  }
  .styles-card .styles-card-img .img-styles {
    height: 350px;
    width: 100%;
  }
  /* portfolio */
  .container-gallery {
    width: 900px;
    margin: 0 auto;
  }
  .one {
    width: 220px;
    height: 350px;
  }
  .two {
    width: 460px;
  }
  .three {
    width: 450px;
    height: 700px;
  }
  .four {
    width: 120px;
  }
  /* retoch */
  .two-retoch {
    width: 440px;
  }
  .four-retoch {
    width: 290px;
  }
  /* PORTRAIT */
  .two-port {
    width: 220px;
  }
  .main-port-img {
    width: 430px;
    height: 680px;
  }
  .four-port-first {
    width: 600px;
    height: 350px;
  }
  .four-port {
    width: 330px;
  }
  /* poduct */
  .one-prod {
    width: 220px;
  }
  .two-prod {
    width: 450px;
  }
  /* contact */
  .contact-img {
    width: 450px;
    right: 70px;
    top: 50px;
  }
  nav {
    z-index: 5;
    position: relative;
  }
}
@media (max-width: 1000px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
  /* home */
  .img-home {
    width: 500px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text-container {
    width: 400px;
    margin-left: 30px;
  }
  .home-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  /* home */
  /* portfolio */
  .container-gallery {
    width: 800px;
    margin: 0 auto;
  }
  .one {
    width: 170px;
    height: 270px;
  }
  .two {
    width: 350px;
  }
  .three {
    width: 450px;
    height: 540px;
  }
  .four {
    width: 120px;
  }
  .four-block-photo-hidden {
    display: block;
  }
  .four-block-photo {
    display: none;
  }
  /* retoch */
  .two-retoch {
    width: 400px;
  }
  .four-retoch {
    width: 260px;
  }
  /* PORTRAIT */
  .two-port {
    width: 180px;
  }
  .main-port-img {
    width: 370px;
    height: 560px;
  }
  .four-port-first {
    width: 500px;
    height: 300px;
  }
  .four-port {
    width: 230px;
  }
  /* poduct */
  .one-prod {
    width: 180px;
  }
  .two-prod {
    width: 420px;
  }
  /* contact */
  .contact-img {
    width: 350px;
    right: 70px;
    top: 100px;
  }
  nav {
    z-index: 5;
    position: relative;
  }
  .forms {
    width: 250px;
    margin-top: 50px;
  }
  .contact-title {
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .container {
    width: 700px;
    margin: 0 auto;
  }
  /* home */
  .img-home {
    width: 400px;
    position: absolute;
    top: 100px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text-container {
    width: 400px;
    margin-left: 30px;
  }
  .home-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  /* home */
  /* style */
  .style-wrapper {
    display: flex;
    justify-content: center;
  }
  .styles-cards {
    margin-bottom: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* style */
  .styles-card {
    width: 340px;
    transition: 0.3s all;
  }
  .styles-card .styles-card-img .img-styles {
    height: 470px;
    width: 100%;
  }
  /* portfolio */
  .container-gallery {
    width: 700px;
    margin: 0 auto;
  }
  .gallery-wrapper {
    display: flex;
    justify-content: center;
  }
  .gallery-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .one {
    width: 220px;
    height: 300px;
  }
  .two {
    width: 450px;
  }
  .three {
    width: 450px;
    height: 600px;
  }
  .four {
    width: 130px;
  }
  .four-block-photo-hidden {
    display: block;
  }
  .four-block-photo {
    display: none;
  }
  .four-block-photo-hidden {
    display: none;
  }
  .four-block-photo {
    display: block;
  }
  /* retoch */
  .two-retoch {
    width: 350px;
  }
  .four-retoch {
    width: 350px;
  }
  .four-block-retoch {
    display: none;
  }
  .four-block-retoch-hidden {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
  }
  /* PORTRAIT */
  .two-port {
    width: 150px;
  }
  .main-port-img {
    width: 270px;
    height: 460px;
  }
  .four-port-first {
    width: 300px;
    height: 200px;
  }
  .four-port {
    width: 230px;
  }
  /* poduct */
  .one-prod {
    width: 200px;
  }
  .two-prod {
    width: 300px;
  }
  .forms {
    position: relative;
    z-index: 5;
    width: 400px;
    margin-top: 100px;
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .container {
    width: 600px;
    margin: 0 auto;
  }
  /* home */
  .home {
    margin-bottom: 300px;
  }
  .home-page-content {
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
  }
  .logo-block {
    z-index: 2;
    background-color: #ffff;
    padding: 20px 0px;
    transition: 0.3s all;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 40px;
    color: black;
    z-index: 2;
    transition: 0.3s all;
    font-weight: 400;
  }
  .img-home {
    width: 400px;
    position: absolute;
    top: 400px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .text-container {
    width: 400px;
    margin-left: 30px;
  }
  .home-title {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
  }
  /* home */
  /* portfolio */
  nav {
    display: none;
  }
  /* PORTRAIT */
  .gallery-blocks-port {
    display: flex;
    flex-direction: column;
  }
  .four-block-port {
    display: flex;
    flex-direction: column;
  }
  .two-port {
    width: 350px;
  }
  .main-port-img {
    width: 350px;
    height: 500px;
  }
  .four-port-first {
    width: 350px;
    height: 250px;
  }
  .four-port {
    width: 350px;
  }
  /* poduct */
  .one-prod {
    width: 350px;
  }
  .two-prod {
    width: 350px;
  }
  /* contact */
  .contact-img {
    width: 350px;
    right: 0px;
    top: 100px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 500px;
    margin: 0 auto;
  }

  /* portfolio */
  .portf-block {
    display: flex;
    flex-direction: column;
  }
  .container-gallery {
    width: 500px;
    margin: 0 auto;
  }
  .gallery-wrapper {
    display: flex;
    justify-content: center;
  }
  .gallery-blocks {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .one {
    width: 350px;
    height: 500px;
  }
  .two {
    width: 350px;
  }
  .three {
    width: 350px;
    height: 500px;
  }
  .four {
    width: 100px;
  }
  .four-block-photo-hidden {
    display: block;
  }
  .four-block-photo {
    display: none;
  }
  .four-block-photo-hidden {
    display: none;
  }
  .four-block-photo {
    display: block;
  }
}
@media (max-width: 600px) {
  .container {
    width: 400px;
    margin: 0 auto;
  }
  /* home */
  /* home */
  .text-container {
    width: 350px;
    margin-left: 0px;
  }
  .home-page-content {
    display: flex;
    justify-content: center;
  }

  .logo-block {
    z-index: 2;
    background-color: #ffff;
    padding: 20px 0px;
    transition: 0.3s all;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 40px;
    color: black;
    z-index: 2;
    transition: 0.3s all;
    font-weight: 400;
  }
  .img-home {
    width: 300px;
    position: absolute;
    top: 400px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;

    flex-direction: column;
  }

  .home-title {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
  }
  /* home */
  /* contact */
  .contact-img {
    width: 350px;
    right: 0px;
    top: 100px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 300px;
    margin: 0 auto;
  }
  /* home */

  .text-container {
    width: 300px;
    margin-left: 0px;
  }
  .home-page-content {
    display: flex;
    justify-content: center;
  }

  .logo-block {
    z-index: 2;
    background-color: #ffff;
    padding: 20px 0px;
    transition: 0.3s all;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-size: 20px;
    color: black;
    z-index: 2;
    transition: 0.3s all;
    font-weight: 400;
  }
  .img-home {
    width: 300px;
    position: absolute;
    top: 400px;
    right: 20px;
  }
  .home-text {
    margin-top: 80px;
    z-index: 5;
    display: flex;

    flex-direction: column;
  }

  .home-title {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
  }
  /* home */
  .container-gallery {
    width: 350px;
    margin: 0 auto;
  }
  .contact-img {
    width: 100%;
    right: 0px;
    top: 0;
  }
  .forms {
    position: relative;
    z-index: 5;
    width: 300px;
    margin-top: 100px;
    margin-left: 0px;
  }
}

@media (max-width: 400px) {
  /* home */
}
