/* <!-- burger --> */
.fon-burger-menu {
  position: relative;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.579);
  z-index: 25;
  display: none;
}

.fon-burger-menu.active {
  display: block;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  background: #ffff;
  z-index: 25;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
.menu.active {
  transform: translateX(-50%);
}
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 25;
  overflow: hidden;
  display: none;
}
.nav-burger-menu {
  margin-left: 0px;
  display: flex;
}
.burger-link {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}
.burger-link:active {
  color: #8361b8;
}
li {
  margin-bottom: 20px;
}

.block-span {
  z-index: 25;
  position: fixed;
  top: 15px;
  right: 25px;
}
.menu-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
}
.menu-btn span {
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Змінюємо гамбургер іконку,
      коли меню відчинено /  */
.menu-btn.active span:nth-of-type(2) {
  display: none;
}
.menu-btn.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
  /* close */
}
.menu-btn.close:nth-of-type(1) {
  display: block;
}
.menu-btn.close:nth-of-type(2) {
  display: block;
}
.menu-btn.close:nth-of-type(3) {
  display: block;
}
.burger-contact {
  position: relative;
  margin-top: 50px;
}
.contact-burger-block {
  display: flex;
  align-items: center;
}
.burger-contact .burger-link-contact {
  color: #fd9346;
}
.burger-contact .burger-elips {
  position: absolute;

  top: 100px;
  right: 60px;
}
/* / Меню, яке буде зʼявлятися */

.burger-link-contact {
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
.burger-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu.active {
  transform: translateX(10%);
}
/* .menu.disabled {
        transform: translateX(-100%);
      } */

.menu li {
  list-style-type: none;
}
@media all and (max-width: 800px) {
  .menu-btn {
    display: block;
  }
}

/* <!-- burger --> */
