* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  color: #ffff;
}
/* general */
button {
  font-size: 20px;
  text-transform: uppercase;
}
.four-block-photo-hidden {
  display: none;
}
a {
  text-decoration: none;
}
.centre {
  display: flex;
  justify-content: center;
}
/* general */

body {
  background-color: #1a1819;
}
/* home */
.home {
  margin-bottom: 200px;
}
/* logo */
.logo-block {
  z-index: 2;

  padding: 20px;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-block:hover {
  z-index: 2;

  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-block:hover .logo {
  z-index: 2;
  color: black;
}
.logo {
  font-size: 40px;
  z-index: 2;
  transition: 0.3s all;
  font-weight: 400;
}
.home-page-content {
  display: flex;
  justify-content: space-between;
}
.home-title {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.home-text {
  margin-top: 200px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn-home {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #676767;
  transition: 0.3s all;
  cursor: pointer;
  border: none;
}
.btn-home:hover {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #8b8b8b;
  border: none;
}
.text-container {
  width: 500px;
  margin-left: 60px;
}
.img-home {
  width: 700px;
  position: absolute;
  top: 20px;
  right: 20px;
}
/* styles */
.styles {
  padding: 0px 0px 50px 0px;
}
.container {
  width: 1300px;
  margin: 0 auto;
}
.styles-cards {
  margin-bottom: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.styles-card {
  width: 400px;
  transition: 0.3s all;
}
.styles-card .styles-card-img .img-styles {
  transition: 0.3s all;
  height: 550px;
  width: 100%;
}
.styles-card .styles-card-img .img-styles:hover {
  transform: scale(1.1);
  height: 550px;
  width: 100%;
}
.styles-card .styles-card-img {
  width: 100%;
}

.p-styles {
  z-index: 5;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
/* PORTFOLIO */
.container-gallery {
  width: 1400px;
  margin: 0 auto;
}
.nav-wrapper {
  padding: 30px 100px;
  width: 100%;
  position: fixed;
  background-color: #1a181965;
  top: 0;
  left: 0;
}
.email {
  transition: 0.3s all;
  width: 50px;
}
.email:hover {
  transform: scale(1.1);
}
.content-wrapper {
  position: relative;
}
.content-wrapper .email {
  position: absolute;
  right: 200px;
  top: -10px;
}
nav {
  display: flex;
}
.nav-link {
  margin-left: 40px;
  position: relative;
}
.nav-link::before {
  transition: 0.3s all;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #ffff;
  top: 25px;
  left: 0;
}
.nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffff;
  top: 25px;
  left: 0;
}
.gallery {
  margin-top: 75px;
}

.gallery-img {
  border-radius: 20px;
  margin: 5px;
}
.portf-block {
  display: flex;
}
.one {
  width: 350px;
  height: 580px;
}
.gallery-blocks {
  display: flex;
  margin-left: 30px;
}
.two {
  width: 710px;
}

.three {
  width: 620px;
  height: 840px;
}
.four {
  width: 200px;
  height: 270px;
}
/* retoch */
.two-retoch {
  width: 640px;
}
.four-retoch {
  width: 425px;
}
.four-block-retoch-hidden {
  display: none;
}
.four-block-retoch {
  padding: 0px 30px;
  display: flex;
}
.gallery-column {
  display: flex;
  flex-direction: column;
}
/* port */
.four-block-port {
  display: flex;
  padding: 0px 30px;
}
.gallery-blocks-port {
  display: flex;
  justify-content: space-between;
}
.two-port {
  width: 320px;
}
.main-port-img {
  width: 600px;
  height: 970px;
}
.four-port-first {
  width: 880px;
  height: 500px;
}
.four-port {
  width: 380px;
  height: 500px;
}
/* prod */
.one-prod {
  width: 320px;
}
.two-prod {
  width: 670px;
}
.contact-title {
  text-align: center;
}
/* contact */
textarea {
  transition: 0.1s all;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  outline: none;
}
.forms {
  position: relative;
  z-index: 5;
  width: 400px;
  margin-top: 100px;
  margin-left: 100px;
}
.form-input {
  transition: 0.1s all;
  width: 100%;
  border-radius: 10px;
  color: #000;
  border: none;
  padding: 10px;
  outline: none;
}
.form-input:focus {
  border-bottom: 2px solid #ff36b8;
}
textarea:focus {
  border-bottom: 2px solid #ff36b8;
}
.input-box {
  margin-bottom: 20px;
}
.contact-title {
  font-size: 40px;
}
.contact-img {
  width: 600px;
  right: 70px;
}
.btnn {
  margin-bottom: 50px;
  margin-top: 50px;
}
.thank-block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.thank-title {
  text-align: center;
  margin-bottom: 50px;
}
